---
---

body {
	font-size: 1.05em;
	line-height: 1.5em;
	margin: 2em auto;
	max-width: 35em;
}

.note {
	font-style: italic;
}

.post-author {
	font-size: 0.8em;
	font-style: italic;
}

.newsletter-cta-container {
	border: 1px dashed #000;
	text-align: center;
}

.newsletter-cta-container > input[type='text'] {
	height: 2.5em;
	font-size: 0.9em;
}

.newsletter-cta-button {
	margin: 1em auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
    border: 1px solid #113fd8;
    border-radius: 8px;
    background: #2076ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#2076ff), to(#113fd8));
    background: -moz-linear-gradient(top, #2076ff, #113fd8);
    background: linear-gradient(to bottom, #2076ff, #113fd8);
    text-shadow: #0a257f 1px 1px 1px;
    font: normal normal bold 1em arial;
    color: #ffffff;
    text-decoration: none;
}
.newsletter-cta-button:hover,
.newsletter-cta-button:focus {
    border: 1px solid #144afe;
    background: #268eff;
    background: -webkit-gradient(linear, left top, left bottom, from(#268eff), to(#144cff));
    background: -moz-linear-gradient(top, #268eff, #144cff);
    background: linear-gradient(to bottom, #268eff, #144cff);
    color: #ffffff;
    text-decoration: none;
}
.newsletter-cta-button:active {
    background: #113fd8;
    background: -webkit-gradient(linear, left top, left bottom, from(#113fd8), to(#113fd8));
    background: -moz-linear-gradient(top, #113fd8, #113fd8);
    background: linear-gradient(to bottom, #113fd8, #113fd8);
}
