---
layout: default
---

<h1>Jeremy Privett</h1>
<h3>Educator. Community Organizer. Consultant.</h3>
<p>I teach beginners how to be Junior Developers.</p>
<p>I teach Mid- and Senior-level Developers how to be more effective.</p>
<p>I teach development teams how to be more efficient and focus on the right things.</p>
<p>How can I help you?</p>
{% include newsletter_cta_post.html %}
<h3>Latest Posts</h3>
<ul>
    {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
